/*Pagina index.html */
html{
    font-size: 62.5%; /* 1rem = 10px*/
    box-sizing: border-box;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
   
    vertical-align: baseline;
    
    
}

body{
    background-color: map-get($colores, fondo_main);
    margin: 0;
    font-size: map-get($tamañofuente, p );
    font-weight: 400;
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    overflow-x: hidden;
}

.card{
   
    border: $borde;
    
}

.navbar-dark .navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 0, 0, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.boton{
    font-size: map-get($tamañofuente, p)
}

/* Fonts*/
h1{
    font-family:'Inter', sans-serif;;
    text-align: center;
    margin-top: 3.5rem;
    font-size:map-get($tamañofuente, h1 );
    color: map-get($colores, titulo);  
    border: $borde;
}

h2{
    
    text-decoration: underline;
    font-size: map-get($tamañofuente,h2 );
    text-align: center;
   
}
p{
    font-size: map-get($tamañofuente,p )
}

/* Fonts End */



.main__section__image{
    width: 275px;
    height: 275px;
}

/* Footer*/

footer{
    /*background-color:map-get($colores, fondo_footer); */
    color: map-get($colores , texto-footer );
    margin-top: 1rem;
    
}


ul li{
    display: inline-block;
    margin-right: 1.5rem;

}
.elementos__social{
    display: flex;
    color: map-get($colores,elemento-social );
    font-size: map-get($tamañofuente, h2 );
    justify-content: space-between;
}
.elementos__social:hover{
    color: white;

}

.franquicias{
    margin-right: 2rem;
}

/* Pagina sobre.html*/



/* Sucursales */
.container__sucursal__imagen{
    width: 60rem;
    height: 45rem;
}
iframe:first-child{
    margin-bottom: 50px;
}

/* Unete*/


/* Media Query*/

img{
    max-width: 100%;
    height: auto;
    width: auto\9;
}
.derechos{
    font-size: 1.3rem;
}
/* Responsive*/


@media all and (max-width:480px)  {
   
    h3{
        color: darkslategrey;
        font-family: 'Courier New', Courier, monospace;
    }
    .main__section__image{
        width: 80%;
        height: 27.5rem;
    }
    footer{
        text-align: center;
    }
    .card__colTexto{
        text-align: center;
        justify-content: center;
    }
    .container__sucursal{
        width: 100%;
    }
    h1{
        color: rgb(233, 67, 67);
    }
    h3{
        color: brown;
    }
    .elementos__social{
        color: white;
    }
    
}