
.main{
    display: grid;
}

.card{
    border: $borde;  
}

.navbar-dark .navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 0, 0, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.boton{
    font-size: map-get($tamañofuente, p)
}

/* Fonts*/
h1{
    font-family:'Inter', sans-serif;;
    text-align: $centro;
    margin-top: 3.5rem;
    font-size:map-get($tamañofuente, h1 );
    border: $borde;
}

h2{
    
    text-decoration: underline;
    font-size: map-get($tamañofuente,h2 );
    text-align: $centro;
   
}
p{
    font-size: map-get($tamañofuente,p )
}


.imagen__fiesta{
    margin: auto;
  display: block;
  margin-bottom: 2rem;
}



.container__sucursal__imagen{
    width: 60rem;
    height: 45rem;
}
iframe:first-child{
    margin-bottom: 50px;
}

/* Unete*/





img{
    max-width: 100%;
    height: auto;
    width: auto\9;
}



@media all and (max-width:480px)  {
   
    .main{
        .main__section__image{
            width: 80%;
            height: 27.5rem;
            order: 1;
        }
        .card__texto{
            order: 2;
        }
        .boton{
            order: 3;
        }
    }
    .card__colTexto{
        text-align: $centro;
        justify-content: $centro;
    }
    .container__sucursal{
        width: 100%;
    }
    h1{
        font-family: $fuenteTitulo;
        color: rgb(233, 67, 67);
    }
    h2{
        color: brown;
        font-size: map-get($tamañofuente, h2);
    }
 
    h3{
        color: darkslategrey;
        font-family: 'Courier New', Courier, monospace;
    }
    iframe{
        width: 100%;
    }
    ul{
        list-style: none;
    }
}