
$borde :1px solid lightgoldenrodyellow;
$fuenteTitulo: 'Inter', sans-serif;
$centro: center;
$colores:(
    titulo: red,
    texto-parrafo: black,
    fondo_main: bisque,
    texto-footer: white,
    fondo_footer:black,
    elemento-social: darkgrey,

);




