
$borde :1px solid lightgoldenrodyellow;



$colores:(
    titulo: red,
    texto-parrafo: black,
    fondo_main: bisque,
    texto-footer: white,
    fondo_footer:black,
    elemento-social: darkgrey,

);

$tamañofuente:(
    h1: 4.5rem,
    h2: 2.5rem,
    p: 1.5rem,
    h4: 1rem
)

