footer {
  background-color: black; }

/*Pagina index.html */
html {
  font-size: 62.5%;
  /* 1rem = 10px*/
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline; }

body {
  background-color: bisque;
  margin: 0;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  overflow-x: hidden; }

.card {
  border: 1px solid lightgoldenrodyellow; }

.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 0, 0, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"); }

.boton {
  font-size: 1.5rem; }

/* Fonts*/
h1 {
  font-family: 'Inter', sans-serif;
  text-align: center;
  margin-top: 3.5rem;
  font-size: 4.5rem;
  color: red;
  border: 1px solid lightgoldenrodyellow; }

h2 {
  text-decoration: underline;
  font-size: 2.5rem;
  text-align: center; }

p {
  font-size: 1.5rem; }

/* Fonts End */
img {
  max-width: 100%;
  height: auto;
  width: auto\9; }

.main__section__image {
  width: 275px;
  height: 275px; }

/* Footer*/
.pie {
  color: white; }
  .pie .pie__lista {
    list-style: none; }
    .pie .pie__lista .pie__lista__item {
      display: inline-block; }
      .pie .pie__lista .pie__lista__item .pie__lista__item__elementos__social {
        font-size: 2.5rem;
        color: white; }
  .pie .pie__texto {
    color: white;
    text-align: center; }
  .pie .pie__texto__equipo {
    text-align: end;
    margin-right: 2rem; }
  .pie .pie__texto__derechos {
    font-size: 1rem;
    text-align: center; }

/* Pagina sobre.html*/
/* Sucursales */
.container__sucursal__imagen {
  width: 60rem;
  height: 45rem; }

iframe:first-child {
  margin-bottom: 50px; }

/* Unete*/
/* Media Query*/
img {
  max-width: 100%;
  height: auto;
  width: auto\9; }

.derechos {
  font-size: 1.3rem; }

/* Responsive*/
@media all and (max-width: 480px) {
  h3 {
    color: darkslategrey;
    font-family: 'Courier New', Courier, monospace; }
  .main__section__image {
    width: 80%;
    height: 27.5rem; }
  .pie {
    text-align: center; }
    .pie .pie__texto {
      color: white; }
    .pie .pie__texto__equipo {
      text-align: center;
      justify-items: center;
      margin: auto 0; }
  .pie__lista {
    list-style: none; }
    .pie__lista .pie__lista__item {
      display: inline-block; }
      .pie__lista .pie__lista__item .pie__lista__item__elementos__social {
        font-size: 2.5rem;
        color: white; }
  .card__colTexto {
    text-align: center;
    justify-content: center; }
  .container__sucursal {
    width: 100%; }
  h1 {
    color: #e94343; }
  h2 {
    color: brown;
    font-size: 2.5rem; }
  .elementos__social {
    color: white; } }
